{% extends "base.html" %}

{% block heading %}

{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Quiz Uygulamamıza Hoş Geldiniz</h1>
    <p class="lead">Bilginizi quizlerimizle test edin!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="https://github.com/tahsinsoyak" role="button" target="_blank">Github Profilim</a>
    <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/10Nj6mQu9hEXTmBxmGOZbKaQvbZGX-vQK/view?usp=sharing" role="button" target="_blank">CV'mi Görüntüle</a>
    <a class="btn btn-primary btn-lg" href="https://github.com/tahsinsoyak/price-tracker" role="button" target="_blank">Örnek Flask Projesi</a>
</div>
{% endblock %}
